<div class="view-container">
  <button class="view-delete-button" ><a class="link" routerLink="/change-view" routerLinkActive="link-active" ><b>X</b></a></button>
  <h1 class="field-decoration">Track Details {{id}}</h1>
    
    <div class="field-decoration"><h3>Track Name : {{detailedAlbum.track|capitalize}}</h3></div>
    <div class="field-decoration"><h3>Artist : {{detailedAlbum.artist}}</h3></div> 
    <div class="field-decoration"><h3>Album : {{detailedAlbum.album|capitalize}}</h3></div>
    <div class="field-decoration"><h3>Release Notes : {{detailedAlbum.releaseNotes|capitalize}}</h3></div>
    
</div>