<div class="header">
<img  class="header-logo"src="/assets/images/violin.jpg" alt="logo">
  <div class= "header-content">
    <div class="header-name">Music App</div>
    <div class="header-author"><b>A CONTRIBUTION BY</b>
     <div class="header-author-name">{{displayService.firstName}} {{displayService.lastName}}</div>
    </div>
  </div>
  
  <div class="top-nav">
    <ul>
    <li  class="top-nav-content" ><a class="link" routerLink="/fork" routerLinkActive="link-active" >{{menu[0]}}</a></li>
    <li  class="top-nav-content" ><a class="link" routerLink="/change-view" routerLinkActive="link-active" >{{menu[1]}}</a></li>
    <li  class="top-nav-content" ><a class="link" routerLink="/log-in" routerLinkActive="link-active" >{{menu[2]}}</a></li>
    <li  class="top-nav-content" ><a class="link" routerLink="/sign-up" routerLinkActive="link-active" >{{menu[3]}}</a></li> 
    </ul>
  </div>	
</div>
